* {
  font-family: "IBM Plex Mono", monospace;
}

html,
body {
  width: 100%;
  /* height: 100%; */
  padding: 0;
  margin: 0;
}

body {
  font-family: helvetica, arial, sans-serif;
}

h1 {
  /* font-style: italic; */
  margin: 0 0 1rem 0;
  padding-top: 1rem;
  color: #373fff;
  font-weight: 500;
}

/* main page */
#wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  padding-top: 2vh;
  /* height: 100vh; */
}
#header {
  width: "100%";
  text-align: center;
  margin-bottom: 3rem;
}

/* edit splash */
#edit-splash {
  display: none;
  opacity: 0;
  position: absolute;
  /* top: -200vh; */
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s ease 0s;
  /* transition: top 0.5s; */
}
#edit-splash-container {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  max-width: 700px;
  /* background-color: rgba(94, 167, 255, 0.9); */
  background-color: rgba(112, 118, 255, 0.5);
  padding: 2rem 0 3rem 0;
  margin: 17vh auto 0 auto;
  border-radius: 1rem;
}
#edit-splash-container h1 {
  color: #fff;
  /* background-color: rgba(230, 230, 230, 1); */
  /* width: 10rem; */
  margin: 0 auto 0.5rem auto;
  padding: 0 1rem 0 1rem;
}
#edit-instruction {
  margin: 0 auto 1rem auto;
  color: #fff;
  padding: 0 5rem 0 5rem;
  /* width: 70%; */
}
#edit-canvas-wrapper {
  width: 90%;
  max-width: 500px;
  margin: 0rem auto;
  border-radius: 1rem;
}
#edit-canvas-container {
  position: relative;
  /* background-color: #373fff; */
  background-color: #373fff;
  width: "100%";
  height: 20rem;
  border-radius: 1rem;
}

#edit-canvas {
  border: 5px solid;
  border-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
}
#edit-canvas-text {
  user-select: none;
  position: absolute;
  background-color: #fff;
  bottom: 0rem;
  left: 1rem;
  z-index: 1;
  opacity: 0.4;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 0.5rem;
}
#edit-loading-text-div {
  border: 5px solid;
  border-color: #fff;
  position: relative;
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* background-color: #373fff; */
  opacity: 1;
  margin: 0 auto;
  font-size: 1.3rem;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 1rem;
}
#edit-loading-text {
  color: #fff;
  font-size: 1.3rem;
  background-color: #373fff;
  border-radius: 1rem;
  padding: 1rem;
  opacity: 0.8;
}
#edit-loading-text-server {
  color: #fff;
  display: none;
  width: 70%;
  font-size: 0.8rem;
  background-color: #373fff;
  border-radius: 1rem;
  padding: 1rem;
  opacity: 0.8;
}
#edit-control-container {
  display: flex;
  width: "90%";
  max-width: 500px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem auto 2rem auto;
  height: 2rem;
  /* background-color: rgba(230, 230, 230, 1); */
}
#edit-control-container button,
select {
  border: none;
  outline: none;
  /* border: 2px solid; */
  border-radius: 1rem;
  /* border-color: #373fff; */
  font-size: 0.8rem;
  height: 2rem;
  /* width: 5rem; */
  padding: 0 1rem 0 1rem;
  color: #373fff;
  background-color: #fff;
}
#edit-control-container button:hover,
select:hover {
  border: none;
  border-radius: 1rem;
  /* border-color: #373fff; */
  color: #fff;
  background-color: #373fff;
}
#edit-send-btn {
  font-weight: bold;
}

/* controls */
#control-container {
  display: flex;
  width: 90%;
  max-width: 600px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem auto 2rem auto;
  height: 3rem;
  /* background-color: rgba(230, 230, 230, 1); */
}
#control-container button {
  outline: none;
  border: 1.5px solid;
  border-radius: 1rem;
  border-color: #373fff;
  font-size: 0.8rem;
  height: 2rem;
  min-width: 5rem;
  color: #373fff;
  padding: 0 1rem 0 1rem;
  background-color: #fff;
  margin-bottom: 0.5rem;
}
#control-container button:hover {
  border: 1.5px solid;
  border-radius: 1rem;
  border-color: #373fff;
  color: #fff;
  background-color: #373fff;
}
#control-container .disabled {
  color: #ccc;
  border-color: #ccc;
  background-color: #fff;
}
#control-container .disabled:hover {
  color: #ccc;
  border-color: #ccc;
  background-color: #fff;
}
#share-btn {
  position: relative;
}
#control-container .btn-tip {
  /* display: none; */
  user-select: none;
  position: absolute;
  /* bottom: -3rem; */
  top: -3rem;
  /* left: -1.5rem; */
  left: -2rem;
  /* width: 10rem; */
  min-width: 7rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #0f0;
  background-color: #373fff;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
  font-size: 0.8rem;
  text-align: center;
}
#control-container .btn-tip.show {
  /* display: inline; */
  font-size: 0.8rem;
  color: #0f0;
  opacity: 1;
  z-index: 2;
}
.btn-div {
  display: inline;
  position: relative;
}

#control-container span {
  color: #373fff;
}
#control-seperator {
  margin: 0 1rem;
}
#history-div {
  position: relative;
}
#control-div {
  position: relative;
}
#play-btn {
  min-width: 100px;
}
#history-span {
  position: absolute;
  color: #373fff;
  top: -1.5rem;
  font-size: 0.7rem;
  /* left: 5rem; */
}

/* canvas */
#canvas-wrapper {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: "90%";
  max-width: 760px;
  background-color: #373fff;
  margin: 2rem auto;
  border-radius: 1rem;
}
#canvas-container {
  position: relative;
  width: 100%;
  height: 33vh;
  min-height: 250px;
  border-radius: 1rem;
  /* background-color: #373fff; */
}
#play-canvas {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
}
#canvas-text {
  user-select: none;
  position: absolute;
  background-color: #373fff;
  color: #fff;
  bottom: 0rem;
  right: 1rem;
  z-index: 1;
  opacity: 0.8;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 0.5rem;
}
#canvas-text-left {
  user-select: none;
  position: absolute;
  background-color: #fff;
  bottom: 0rem;
  left: 1rem;
  z-index: 1;
  opacity: 0.4;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 0.5rem;
}
#canvas-text-left:hover {
  opacity: 1;
}

/* share */
#share-container {
  position: relative;
  /* flex-direction: row; */
  /* align-items: center; */
  max-width: 400px;
  width: 90%;
  justify-content: space-evenly;
  margin: 2rem auto 2rem auto;
  /* background-color: rgba(230, 230, 230, 1); */
}
#share-link-description {
  text-align: center;
  font-size: 0.8rem;
  color: #373fff;
  /* border-radius: 1rem; */
  /* border: 1.5px solid #373fff; */
}
#share-link {
  font-size: 0.8rem;
  background: #fff;
  border: 1.5px solid #373fff;
  border-radius: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.5rem 1rem;
  color: #aaa;
  transition: color 0.1s;
}
#share-link:hover {
  color: #000;
}

/* splash */
#splash {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  /* padding: 25vh 0; */
}
#splash-div {
  padding: 25vh 0;
}
#splash p {
  margin: 0 auto;
  max-width: 40rem;
}
#splash .project-description {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  line-height: 1.4rem;
}
#splash button {
  outline: none;
  border: 1px solid;
  border-radius: 1.5rem;

  font-size: 1rem;
  /* height: 3px; */
  /* width: 100px; */
  height: 3rem;
  padding: 0 2rem 0 2rem;
  margin-bottom: 2rem;

  color: #ccc;
  border-color: #ccc;
  background-color: #fff;
}
#splash button.activated {
  color: #373fff;
  border-color: #373fff;
  background-color: #fff;
}
#splash button.activated:hover {
  border: 1px solid;
  border-color: #fff;
  color: #fff;
  background-color: #373fff;
}
#warning {
  color: #aaa;
  /* margin: 1rem; */
}
#left-corner {
  position: absolute;
  left: 1.8rem;
  bottom: 1.5rem;
}
#right-corner {
  position: absolute;
  right: 2rem;
  bottom: 1.5rem;
}

a.link {
  background-color: #fff;
  color: #373fff;
  padding: 2px;
  transition: color 0.5s;
}
a.link:hover {
  color: #fff;
  background-color: #373fff;
  text-decoration: none;
}

a.logo {
  opacity: 0.2;
  transition: opacity 0.3s;
}
a.logo:hover {
  opacity: 1;
}

footer {
  margin-top: 3rem;
  /* min-height: 15rem; */
}
footer p {
  margin: 0;
  text-align: center;
}
