html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: helvetica, arial, sans-serif;
}

h1 {
  font-style: italic;
  color: #373fff;
}

/* main page */
#wrapper {
  margin: 0;
}
#header {
  width: "100%";
  text-align: center;
}

/* edit splash */
#edit-splash {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2;
  text-align: center;
  transition: opacity 0.3s;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 8vh 0;
}
#edit-canvas-wrapper {
  width: 45rem;
  margin: 2rem auto;
}
#edit-canvas-container {
  position: relative;
  background-color: #373fff;
  /* background-color: #ff0; */
  width: "100%";
  height: 25rem;
}
#edit-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#edit-canvas-text {
  position: absolute;
  color: #fff;
  bottom: 0rem;
  left: 1rem;
  z-index: 1;
}

/* controls */
#control-container {
  display: flex;
  width: "100%";
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}

/* canvas */
#canvas-wrapper {
  width: 40rem;
  margin: 2rem auto;
}
#canvas-container {
  position: relative;
  background-color: #373fff;
  width: 40rem;
  height: 20rem;
}
#play-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#canvas-text {
  position: absolute;
  color: #fff;
  bottom: 0rem;
  left: 1rem;
  z-index: 1;
}

/* splash */
#splash {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 25vh 0;
}
#splash p {
  margin: 0 auto;
  max-width: 40rem;
}
#splash .project-description {
  margin-bottom: 2rem;
}
#splash button {
  border: 1px solid;
  border-color: #373fff;
  font-size: 1rem;
  height: 40px;
  width: 100px;
  color: #373fff;
  background-color: #fff;
  margin-bottom: 2rem;
}
#splash button:hover {
  border: 1px solid;
  border-color: #fff;
  color: #fff;
  background-color: #373fff;
}
a {
  background-color: #fff;
  color: #373fff;
  padding: 2px;
  transition: color 0.5s;
}
a:hover {
  color: #fff;
  background-color: #373fff;
  text-decoration: none;
}
